[Unit]
Description=EpisodeDBCopy

[Service]
ExecStart=/usr/bin/java -Xms128m -Xmx256m -jar /opt/socialcrossposting/episodedbcopy-0.0.1-SNAPSHOT-jar-with-dependencies.jar
StandardOutput=file:/var/log/episodedbcopy.out.txt
StandardError=file:/var/log/episodedbcopy.err.txt
Type=simple
WorkingDirectory=/opt/socialcrossposting

[Install]
WantedBy=multi-user.target
